<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Admin console' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/styles/animate.css" rel="stylesheet">
    <link href="/styles/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/styles/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/styles/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/styles/admin-style.css" rel="stylesheet">

  </head>

  <body class="gray-bg">
    <div id="app">
      <router-view></router-view>
      <vue-progress-bar></vue-progress-bar>
    </div>
    <script>
      var __INIT_DATA = JSON.parse(<%- JSON.stringify(typeof data == 'object' ? data : '{}') %>)
    </script>

    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script src="/js/admin.js"></script>
  </body>
</html>
