<!DOCTYPE html>
<html>
  <head>
    <title>Cohober - Xác nhận email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>

  <body>
    <div class="container">
      <div style="margin-top: 200px">
        <div id="form">
          <h1 class="text-center">Đặt lại mật khẩu</h1>
          <br/>
          <br/>
          <form id="from-pass" class="col-sm-6 col-sm-offset-3" onSubmit="submitForm(event, this)">
            <div class="form-group">
              <label for="password1">Mật khẩu mới</label>
              <input type="password" class="form-control" id="password1" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
              <label for="password2">Nhập lại mật khẩu</label>
              <input type="password" class="form-control" id="password2" placeholder="Nhập lại mật khẩu">
            </div>
            <div id="alert-error" class="text-danger"></div>
            <button type="submit" class="btn btn-primary pull-right">Đặt lại mật khẩu</button>
          </form>
        </div>
        <div id="active-success" class="hidden text-success text-center">
          <h1 id="name"></h1>
          <h2>Mật khẩu đã được đặt lại</h2>
          <h3>Xin cảm ơn bạn</h3>
        </div>
        <h1 id="active-error" class="text-danger hidden text-center">
          Oops! Đường dẫn đã quá hạn. Kích hoạt tài khoản không thành công rồi.
        </h1>
      </div>
    </div>

    <script>
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
      function submitForm(e ){
        e.preventDefault();
        var uuid = getParameterByName('uuid');
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();

        if (password1.length < 6) {
          $('#alert-error').html('Mật khẩu phải có ít nhất 6 ký tự');
          return;
        }
        if (password1 != password2) {
          $('#alert-error').html('Hai mật khẩu không giống nhau');
          return;
        }

        axios.post('/api/users/resetPassword', {
          uuid: uuid,
          password1: password1,
          password2: password2
        })
        .then(({data}) => {
          $('#form').hide();
          $('#active-success').removeClass('hidden');
          $('#name').html('Xin chào ' + data.name);
        })
        .catch(ex => {
          $('#form').hide();
          $('#active-error').removeClass('hidden');
        });
        return false;
      }
    </script>
  </body>
</html>
