button
  outline none !important

a
  outline: none !important

.data-table
  .btn-circle
    font-size 13px !important
    padding 0 0 1px 0 !important
    margin 0 5px 0 0
.table-responsive
  td
    vertical-align middle !important

.datepicker
  z-index: 1000000 !important

@media (min-width: 992px)
  .modal-lg
      width: 90%